.drop_menu {
	background:#f3e929;
	padding:0;
	margin:0;
	list-style-type:none;
	height:40px;
	z-index: 1000;
}
.drop_menu li { float:left; z-index: 1000;}
.drop_menu li a {
	padding:12px 10px 10px 10px;
	margin-left:10px;
	margin-right:10px;
	display:block;
	color:#84170a;
	text-decoration:none;
	font:14px arial, verdana, sans-serif;
	z-index: 1000;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
	z-index: 1000;
}
.drop_menu li:hover { position:relative; background:#5FD367;z-index: 1000; color: #ffffff}
.drop_menu li:hover ul {
	left:0px;
	top:38px;
	background:#5FD367;
	padding:0px;
	z-index: 1000;
}

.drop_menu li:hover ul li a {
	padding:12px;
	margin:0px;
	display:block;
	width:200px;
	text-indent:15px;
	background-color:#5FD367;
	z-index: 1000;
}
.drop_menu li:hover ul li a:hover { background:#f3e929;z-index: 1000; color: #84170a;}

nav select{
  display: none;
}

@media (max-width:600px) { 
	
	nav ul     { display: none; }
  nav select { display: inline-block; }
}
