

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #FFFFFF;
}

a:link, a:visited { color: #ffffff; text-decoration: none; } 
a:active, a:hover { color:#44618C; }

/**************************Login button************************************/

#submitbutton:hover, input#submitbutton:focus {
color:#edebda;

}

/***************************Main Body**********************************/

#main_container {
	margin: auto;
	width: 950px;
	height: 100%;
	padding: 0px 10px;
	background: url(./images/mainBG.gif) repeat-Y;
	background-color: #eee;
	
}
/*******************Main Middle banner****************************/
#main_services {
	margin-top:-13px;
	width: 950px;
	height: 535px;
	background:#fff url(./images/bgt.gif) repeat-x;
	//background-color: #edebda;

}

#mheader{
	float:right;
	width: 50px;
	height:50px;
	background:#edebda;
	
}
/*******************right banner****************************/
#right{
	float: right;
	width: 175px;
	height:535px;
	padding-left: 10px;
	//background:#edebda;
}

.login{
	float:right;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 15px;
	font-weight:bold;
	color:#800000;
	margin-top: -8px;
	
	
}
/*******************Left banner****************************/
#left{
	float: left;
	width:  950px;
	height: 535px;	
	//background:#66A6D9;
	
}
.img_down{
    float:left;
    width: 775px;
    height:200px;
}


#left_left{
	float:left;
	width:400px;
	height: 535px;
	
}



/*******************Down banner****************************/
#down{
	float: left;
	width: 950px;
	height: 70px;
	padding-left: 0px;
	//background:#66A6D9;
	box-shadow: inset 0 0 5px rgba(68,68,68,0.8);
	//background-color:#999999;

}





#main_footer {
	clear: both;
	padding: 20px 0px 0px 0px;
	width: 950px;
	height: 40px;
	text-align: center;
	background: #999999;
	
}

#main_header  {
	width: 950px;
	height: 120px;
	border-top: 5px solid #666666;
	background: url(./images/heading2.jpeg) repeat-Y;
	background-size:100% 30%;
	background-repeat:no-repeat;
	border-top: 5px solid #666666;

}
.header_left{
	float:left;
	width: 480px;
	height: 60px;
	padding: 10px 10px 10px 15px;
/* 	background:url(./images/logo1.png) no-repeat; */
background: url(./images/newlogo.png) no-repeat;
	margin-top:39px;
}


/**************************** login popup ****************************/




#loginmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
   -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  margin: 0; 
  margin-left: 40px; 
  margin-right: 40px;
  margin-top: 100px; 
  padding-top: 10px; 
  width: 50%; 
  height: 230px; 
  position: absolute; 
  background: #FFFFFF; 
  border: solid #000000 2px; 
z-index:100; 
  font-family: arial; 
  visibility: true; 
  .submit:hover {
		padding:8px;
		border:1px solid blue;
		position:right;
		
	}
.reset:hover {
	padding:8px;
	border:1px solid blue;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	margin-left:800px;
}
.close:hover { background: #00d9ff; }
}
.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}



