<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>setCharacterFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbstractSheet</servlet-name>
        <servlet-class>Servlets.AbstractSheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubDSRQuery</servlet-name>
        <servlet-class>Servlets.SubDSRQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemQuery</servlet-name>
        <servlet-class>Servlets.AddItemQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbstractSheetView</servlet-name>
        <servlet-class>Servlets.AbstractSheetView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbstractSheetList</servlet-name>
        <servlet-class>Servlets.AbstractSheetList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbstractSheet</servlet-name>
        <url-pattern>/Admin/AbstractSheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubDSRQuery</servlet-name>
        <url-pattern>/SubDSRQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemQuery</servlet-name>
        <url-pattern>/AddItemQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbstractSheetView</servlet-name>
        <url-pattern>/Admin/AbstractSheetView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbstractSheetList</servlet-name>
        <url-pattern>/Admin/AbstractSheetList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
