<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>Servlets.CreateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateUserType</servlet-name>
    <servlet-class>Servlets.CreateUserType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserTypeList</servlet-name>
    <servlet-class>Servlets.UserTypeList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>Servlets.student.AddStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetStudent</servlet-name>
    <servlet-class>Servlets.student.GetStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>Servlets.employee.GetEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBranchName</servlet-name>
    <servlet-class>Servlets.GetBranchName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentlist</servlet-name>
    <servlet-class>Servlets.studentlist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BranchWiseAttendance</servlet-name>
    <servlet-class>Servlets.BranchWiseAttendance</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>Servlets.AddBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBook</servlet-name>
    <servlet-class>Servlets.EditBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllBook</servlet-name>
    <servlet-class>Servlets.GetAllBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSelectedBook</servlet-name>
    <servlet-class>Servlets.EditSelectedBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveEditedBook</servlet-name>
    <servlet-class>Servlets.SaveEditedBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BooklistEdit</servlet-name>
    <servlet-class>Servlets.BooklistEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownBook</servlet-name>
    <servlet-class>Servlets.ShowDropDownBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchedBook</servlet-name>
    <servlet-class>Servlets.SearchedBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownStudent</servlet-name>
    <servlet-class>Servlets.ShowDropDownStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownCourse</servlet-name>
    <servlet-class>Servlets.ShowDropDownCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownBranch</servlet-name>
    <servlet-class>Servlets.ShowDropDownBranch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownClass</servlet-name>
    <servlet-class>Servlets.ShowDropDownClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownSection</servlet-name>
    <servlet-class>Servlets.ShowDropDownSection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowDropDownSubject</servlet-name>
    <servlet-class>Servlets.ShowDropDownSubject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>Servlets.student.UpdateStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSelectedStudent</servlet-name>
    <servlet-class>Servlets.EditSelectedStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllStudent</servlet-name>
    <servlet-class>Servlets.GetAllStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBranchCode</servlet-name>
    <servlet-class>Servlets.GetBranchCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>Servlets.Attendance</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Count</servlet-name>
    <servlet-class>Servlets.Count</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBranch</servlet-name>
    <servlet-class>Servlets.admin.AddBranch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>Servlets.admin.AddClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGallery</servlet-name>
    <servlet-class>Servlets.admin.AddGallery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckGallery</servlet-name>
    <servlet-class>Servlets.admin.CheckGallery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadGallery</servlet-name>
    <servlet-class>Servlets.LoadGallery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGallery</servlet-name>
    <servlet-class>Servlets.admin.DeleteGallery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadGalleryPage</servlet-name>
    <servlet-class>Servlets.LoadGalleryPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVideo</servlet-name>
    <servlet-class>Servlets.admin.AddVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSection</servlet-name>
    <servlet-class>Servlets.admin.AddSection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>Servlets.admin.AddCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>Servlets.AddTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>Servlets.employee.AddEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeQual</servlet-name>
    <servlet-class>Servlets.employee.AddEmployeeQual</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeExp</servlet-name>
    <servlet-class>Servlets.employee.AddEmployeeExp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeKr</servlet-name>
    <servlet-class>Servlets.employee.AddEmployeeKr</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddParent</servlet-name>
    <servlet-class>Servlets.AddParent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAttendance</servlet-name>
    <servlet-class>Servlets.AddAttendance</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>Servlets.admin.AddSubject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddExam</servlet-name>
    <servlet-class>Servlets.AddExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetList</servlet-name>
    <servlet-class>Servlets.GetList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>Servlets.student.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeePhotoServlet</servlet-name>
    <servlet-class>Servlets.employee.EmployeePhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoServletTeacher</servlet-name>
    <servlet-class>Servlets.PhotoServletTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoServletParent</servlet-name>
    <servlet-class>Servlets.student.PhotoServletParent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditTeacher</servlet-name>
    <servlet-class>Servlets.EditTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSelectedTeacher</servlet-name>
    <servlet-class>Servlets.EditSelectedTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditParent</servlet-name>
    <servlet-class>Servlets.EditParent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSelectedParent</servlet-name>
    <servlet-class>Servlets.EditSelectedParent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddParentCheck</servlet-name>
    <servlet-class>Servlets.AddParentCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsAndEvent</servlet-name>
    <servlet-class>Servlets.admin.NewsAndEvent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadEvents</servlet-name>
    <servlet-class>Servlets.LoadEvents</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddExamSchedule</servlet-name>
    <servlet-class>Servlets.AddExamSchedule</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowStudentList</servlet-name>
    <servlet-class>Servlets.ShowStudentList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateId</servlet-name>
    <servlet-class>Servlets.GenerateId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Routine</servlet-name>
    <servlet-class>Servlets.admin.Routine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRoutines</servlet-name>
    <servlet-class>Servlets.admin.ShowRoutines</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoutineSectionwise</servlet-name>
    <servlet-class>Servlets.RoutineSectionwise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPrn</servlet-name>
    <servlet-class>Servlets.CheckPrn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/admin/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUserType</servlet-name>
    <url-pattern>/admin/CreateUserType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTypeList</servlet-name>
    <url-pattern>/admin/UserTypeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/erp/admin/addstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStudent</servlet-name>
    <url-pattern>/erp/admin/getstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/erp/admin/getemployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBranchName</servlet-name>
    <url-pattern>/admin/GetBranchName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentlist</servlet-name>
    <url-pattern>/admin/studentlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BranchWiseAttendance</servlet-name>
    <url-pattern>/admin/BranchWiseAttendance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/userstaff/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBook</servlet-name>
    <url-pattern>/userstaff/EditBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllBook</servlet-name>
    <url-pattern>/userstaff/GetAllBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSelectedBook</servlet-name>
    <url-pattern>/userstaff/EditSelectedBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveEditedBook</servlet-name>
    <url-pattern>/userstaff/SaveEditedBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BooklistEdit</servlet-name>
    <url-pattern>/userstaff/BooklistEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownBook</servlet-name>
    <url-pattern>/ShowDropDownBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchedBook</servlet-name>
    <url-pattern>/SearchedBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownStudent</servlet-name>
    <url-pattern>/admin/showdropdownstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownCourse</servlet-name>
    <url-pattern>/erp/showdropdowncourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownBranch</servlet-name>
    <url-pattern>/erp/showdropdownbranch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownClass</servlet-name>
    <url-pattern>/erp/showdropdownclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownSection</servlet-name>
    <url-pattern>/erp/showdropdownsection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowDropDownSubject</servlet-name>
    <url-pattern>/erp/showdropdownsubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/erp/admin/updatestudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSelectedStudent</servlet-name>
    <url-pattern>/admin/editselectedstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllStudent</servlet-name>
    <url-pattern>/admin/GetAllStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBranchCode</servlet-name>
    <url-pattern>/admin/GetBranchCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/admin/attendance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Count</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBranch</servlet-name>
    <url-pattern>/erp/admin/addbranch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/erp/admin/addclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGallery</servlet-name>
    <url-pattern>/erp/admin/addgallery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckGallery</servlet-name>
    <url-pattern>/erp/admin/checkgallery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadGallery</servlet-name>
    <url-pattern>/loadgallery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadGalleryPage</servlet-name>
    <url-pattern>/loadgallerypage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGallery</servlet-name>
    <url-pattern>/erp/admin/deletegallery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVideo</servlet-name>
    <url-pattern>/erp/admin/addvideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSection</servlet-name>
    <url-pattern>/erp/admin/addsection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/erp/admin/addcourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/admin/addteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/erp/admin/addemployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeQual</servlet-name>
    <url-pattern>/erp/admin/addemployeequal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeExp</servlet-name>
    <url-pattern>/erp/admin/addemployeeexp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeKr</servlet-name>
    <url-pattern>/erp/admin/addemployeekr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddParent</servlet-name>
    <url-pattern>/admin/addparent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAttendance</servlet-name>
    <url-pattern>/admin/addattendance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/erp/admin/addsubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddExam</servlet-name>
    <url-pattern>/admin/addexam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetList</servlet-name>
    <url-pattern>/getlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/erp/admin/photoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeePhotoServlet</servlet-name>
    <url-pattern>/erp/admin/employeephotoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServletTeacher</servlet-name>
    <url-pattern>/admin/photoservletteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServletParent</servlet-name>
    <url-pattern>/erp/admin/photoservletparent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTeacher</servlet-name>
    <url-pattern>/admin/editteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSelectedTeacher</servlet-name>
    <url-pattern>/admin/editselectedteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditParent</servlet-name>
    <url-pattern>/admin/editparent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSelectedParent</servlet-name>
    <url-pattern>/admin/editselectedparent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddParentCheck</servlet-name>
    <url-pattern>/admin/addparentcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsAndEvent</servlet-name>
    <url-pattern>/erp/admin/newsandevent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadEvents</servlet-name>
    <url-pattern>/loadevents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddExamSchedule</servlet-name>
    <url-pattern>/admin/addexamschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateId</servlet-name>
    <url-pattern>/admin/generateid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowStudentList</servlet-name>
    <url-pattern>/admin/showstudentlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Routine</servlet-name>
    <url-pattern>/erp/admin/routine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRoutines</servlet-name>
    <url-pattern>/erp/admin/showroutines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoutineSectionwise</servlet-name>
    <url-pattern>/erp/routinesectionwise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckPrn</servlet-name>
    <url-pattern>/erp/admin/checkprn</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>